.canvas-3D {
   /*background: purple;*/
   min-height: 300px;
   padding: 1px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   
   .layer{
      margin: 0 auto;
      padding: 1px;
      
   }
}
