.shape-diamond {
   $size: 150px;
   width: $size;
   height: $size;
   background: purple;
   /* Rotate */
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

.diamond-container{
   $container-size: 250px;
   $font-size: 25px;
   
   width: $container-size;
   height: $container-size;
   position: relative;
   z-index: 0;
   
   .text{
      /*position: absolute;*/
      text-align: center;
      padding-top: $container-size/2;
      z-index: 1;
      font-size: $font-size;
      line-height: 0;
   }
   
   .shape-diamond{
      $size: #{$container-size / sqrt(2)};
      width: $size;
      height: $size;
      position: absolute;
      top: -$container-size/5;
      z-index: -1;
   }
}

@mixin shape-triangle-up($base-width, $colour){
   width: 0;
   height: 0;
   border-left: $base-width/2 solid transparent;
   border-right: $base-width/2 solid transparent;
   border-bottom: $base-width solid $colour;
}