header{
  color: #242424;
  background: #FFF;
/*  background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #efefef 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #efefef 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );*/
  width: 100%;
  z-index: 2;
  
  .nav-wrap{
    margin: 0 auto;
    max-width: 88%;
    padding-top: 1px;
    @include clearfix();
    
    nav{
      margin: 26px 20px 0 0;
      float: right;
      @extend .font-signika;
      
      >ul{
        overflow: hidden;
        @include clearfix();
        
        >li{
          float: left;
          height: 43px;
          padding-left: 18px;
          padding-right: 22px;
          position: relative;
          text-transform: uppercase;
          
          a{text-decoration: none;}
          i{
            bottom: -7px;
            height: 4px;
            left: 50%;
            margin-left: -4px;
            position: absolute;
            transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
            width: 8px;
            @include shape-triangle-up(7px, #000);
          }
          &:not(:last-child):after{
            content: "/";
            position: absolute;
            right: 0;
            color: rgba(0,0,0,0.4);
          }
          &:hover, &.current{
            i{bottom: 0;}
          }
        }
      }
    }
    #hdr-title{
      margin-top: 19px;
      font-size: 30px;
      display: inline-block;
    }
  }
}