#page-programming{
  background:#000;
  
  .terminal{
    background:#000;  
    color: #00F200;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 0;
    margin: 0;
    
    @extend .font-open;
    
    pre{
      margin: 0;
      border-bottom: 1px #111 solid;
      padding: 0 15px;
    }
  }
}