#page-home{

  background-color:#282828;
  background-image: url('../img/bg/az_subtle_dark.png');
  background-repeat: repeat;
  color: #EDEDED;

  #diamonds-nav{
    display: inline-block;
    margin: 0 auto;
    z-index: 0;
    @include clearfix();

    #diamond-design{
      z-index: 1;
      .shape-diamond{background:#EDB92E;}
    }
    #diamond-more{
      margin: 150px -100px 0 -100px;
      padding: 1px;
      z-index: 0;
      .shape-diamond{background:#CE1836;}
    }
    #diamond-programming{
      z-index: 1;
      .shape-diamond{background:#009989;}
    }
    #diamond-design, #diamond-programming, #diamond-more{
      cursor: pointer;
      float: left;

      .text{color: #FFF;}
      &:hover .shape-diamond{background:#000;}
      .shape-diamond{@include single-transition(background);}
    }
  }
}